.sexImg_man img {
	width: 50px;
	height: 100px;
}

.sexImg_woman img {
	width: 50px;
	height: 100px;
}

.sexImg_man {
	position: absolute;
	top: 30%;
	left: 30%;
}

.sexImg_woman {
	position: absolute;
	top: 30%;
	left: 55%;
}