body, div, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { padding:0;margin:0; }
ul,li{ list-style: none;list-style-type:none;}
.page {display: none;position: absolute;top: 0;left: 0;bottom: 0;right: 1%;width: 100%;height: 100%;overflow: hidden;}

#datescroll div{float: left;margin-left: 10%;margin-top: 15px;padding-right: 22px;}
#yearwrapper{position: absolute;left: 0;top:45px;bottom: 60px;width:80%;}
#monthwrapper{position: absolute;left: 26%;top:45px;bottom: 60px;width:80%;}
#daywrapper{position: absolute;left: 50%;top:45px;bottom: 60px;width:80%;}
#yearwrapper ul li{color: #898989;font-size: 12px;}
#monthwrapper ul li{color: #898989;font-size: 12px;}
#daywrapper ul li{color: #898989;font-size: 12px;}
#markyear{position:relative; margin-left: 76px;top:-2px;}
#markmonth{position:relative; margin-left: 40px;top:-2px;}
#markday{position:relative; margin-left: 42px;top:-2px;}
#markhour{position:relative; margin-left: 62px;top:-2px;}
#markminut{position:relative; margin-left: 58px;top:-2px;}
#marksecond{position:relative; margin-left: 68px;top:-2px;}
#datePage{font-size: 22px; border-radius: 3px; position:absolute;top:110px;vertical-align:middle; MARGIN-LEFT: auto;width: 70%;;height: 240px;background: #FFFFFF;z-index:99;}
#datetitle{width: 100%;height:50px;background: #FFFFFF;text-align: center;MARGIN-LEFT: auto;MARGIN-RIGHT: auto;color: #000000;line-height: 50px;font-size: 15px;font-family:'microsoft yahei';}
#datetitle h1{font-weight:normal;}
#datemark{font-size: 18px;left:5%;width: 90%;height: 20px;position:absolute;top:110px;background:#eee;border:1px solid #eee;}
#datescroll{width:94%; margin:10px 3%;border-radius: 4px;height: 120px;text-align: center;line-height: 40px;}
#yearwrapper ul,#monthwrapper ul,#daywrapper ul{width:40%;}
