form {
	width: 90%;
	margin: 0px auto;
	margin-top: 10%;
	}
#account,#password,#password_confirm{
	font-size: 14px;
	padding-top:12px;
}
.mui-input-row label {
	font-size: 16px;
	text-align: center;
	
}
#lab1,#lab2{
	color:black;
	padding-top:12px;
}
#getsecret {
	background: #007aff;
	margin-top: 1%;
	color: #fff;
	float: right;
	margin-right: 1%;
}
.mui-input-row label {
	padding: 10px 5px;
	color:#007aff;
}
#password{
	float: left;
}
.margin{
	margin-top: 2px;
}
